.ooooooo{
    font-size: 1200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aquamarine;
    border-radius: 100px;
    box-shadow: 100px 100px 50px 50px aquamarine;   
}